:root{
    --blue-shadow:#293051;
    --blue-ligth:#F7F2EF;
    --gray-blue:#4A4D5C;
    --yellow:#E9E3AF;
    --orange-shadow: #98663F;
    --salmao:#FFBD97;
    --blue-gray-shadow: #4a4d5ca9;  
    --blue-ligth2:#626989;

}



*{
    margin: 0;
    padding: 0;
    font-family: "Kodchasan" , sans-serif;
    ;
}

html{
    scroll-behavior: smooth;
}



body{
    background-color: var(--blue-ligth);
}

.nav-bar{
    background-color: var(--blue-shadow);
    height: 90px;
    width: 100%;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.212);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 99;
   
       
}

.logo{
    width: 160px;
    height: 80px;
    filter: drop-shadow(5px 5px 4px  black);
}

.link-nav a{
    text-decoration: none;
    color: var(--yellow);
    
}
.link-nav{
   word-spacing: 30px;
   border: solid var(--orange-shadow) 0px 0px 0px 5px ;
}



a{
    text-decoration: none;
    text-align: center;
    color: var(--blue-shadow);
    font-size: 20px;
}
 

/*corpo-----------------------------------------------------------------------------------------*/

/*sessão 1----------------------------------------*/

.introducao{
    padding: 140px;
    padding-top: 100px;
    z-index: 2;
    position: relative;
    text-align: start;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;

}

.link-ofc{
    font-size: 15px;
    text-align: start;

}

.hello{
    font-size: 59px;
    font-family: "Volkhov", serif;
    text-shadow: 5px 5px 6px var(--blue-gray-shadow);
    color: var(--blue-ligth2);
}

.info-introducao{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;    
    font-family: "Kodchasan" , sans-serif;
    color: var(--blue-ligth2);
}

.login{
    background-color:var(--yellow);
    text-align: center;
    border: solid var(--orange-shadow) 3px;
    border-radius: 0px 20px 0px 20px;
    z-index: 0;
    padding: 5px;
    box-shadow: 10px 5px 10px var(--blue-gray-shadow);
    margin-top: 15px;
    transition: 0.3s;

}

.login:hover{
    background-color: var(--blue-ligth2);
    border: solid var(--blue-ligth2);
    color: #F7F2EF;
}

.section-1{

    margin-top: 50px;
    display: flex;
    flex-direction: row;
    background-image: url(./img/paimoHome.png);
    background-repeat: no-repeat;
    background-size: 1085px;
    background-position: 260px 45px;
    right: 0;
}

.icon a img{
    padding: 15px;
    transition: 0.5s;
    
}

.icon a img:hover{
    filter: drop-shadow( 5px 5px 5px var(--blue-ligth2));
}


/*sessão  2----------------------------------------------------------------*/

.section-2{
    background-color: var(--salmao);
    margin-top: 50px;
    width: 100%;
    /* transform: rotate(2deg);
    margin: -40px -50px -50px; */


}
.personagem-container{
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.personagem .personagem-caixa{
    background-color: var(--yellow);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    border-radius: 0px 20px 0px 20px;
    border: 2px solid var(--orange-shadow);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}

.personagem .personagem-caixa img{
    width: 223px;
    height: 223px;
    cursor: pointer;
    padding: 15px 5px ;

}
.img-personagem{
    border-radius: 30px;
    width:300px;
    /* box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.299); */
    /* transition: width 1s; */
    
}

/* .img-personagem:hover{
    /* box-shadow: 15px 10px 10px 10px rgba(0, 0, 0, 0.26); */
/* } */ 
   /* transform: scale(1.1);
} */





.personagem-info{
    border: solid white 2px;
    border-radius: 20px;
    background-color: #4A4D5C;
    /* width: 200px;
    height: 500px; */
    margin-top: 150px;
    margin-block-end:150px ;
  /* display: flex;
    flex-direction: row; */
    padding: 50px;
    margin: 50px;
}
h2{
    font-family:"blinker",sans-serif;
    color: var(--blue-ligth2);
    font-size: 35px;
    
}

h4{
    color: var(--blue-ligth);
    font-family:"blinker",sans-serif;
    
}

.PersonagemDados{
    text-align: start;
    margin-top: 50px;
}
.titulo3{
    color: white;
    text-align: center;
    font-size: 50px;
    background-color: var(--salmao);
    position: sticky;
    top: 90px;
    z-index: 1;

}


.name-person{
    color: var(--blue-ligth2);
    font-size: 40px;
    font-family: "kodchasan",sans-serif;
}

.personagem-caixa{
 
    padding: 15px;
    margin-top: 15px;
   
}

.cadastro{
    color: var(--yellow);
    font-family:"blinker",sans-serif ;
}







/*rodapé---------------------------------------------------------------------------------------------*/
footer{
    margin-top: 50px;
    background-color: var(--blue-shadow);
    text-align: center;
    padding: 50px;
   
}

h3{
    color:var(--yellow);
}

/*login----------------------------------------------------------------------------------------------------------*/
.formulario{
    background-color: #202332;
    height: 500px;
   width: 350px;
   border-radius: 20px;
   padding: 20px;
   text-align: center;
  

 
}

.info-formulario{
    border-radius: 50px;
    border: solid white;
    
}

.background{
    background-image: url(./img/background.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
}


.corpo{
    margin-top: 150px;
    margin-block-end:150px ;
    display: flex;
    align-items: center;
    justify-content: center;


}


input{
    font-size: 20px;
    border-radius: 50px;
    padding: 15px 50px;
    align-items: center;
    margin-block-end: 15px;
    font-family: "blinker", sans-serif;
  }
  
  label{ 
    padding: 25px;
    font-size: 20px;
   font-family: "blinker",sans-serif;
    color: var(--blue-ligth);
    margin-top:5px;
  }


  button{
   background-color:var(--yellow);
   color: var(--blue-shadow);
   font-family: "blinker", sans-serif;
   border-radius: 55px;
   font-size: 30px;
   border: 0;
   margin-top: 30px;
   padding: 9px 90px;
   
}

h5{
    color: var(--yellow);
    font-size: 32px;
    font-family: "blinker", sans-serif;
    text-align: center;
    margin-block-end: 50px;

}





